@import "~@styles/utilities";
@import "~@styles/universe";
@import "~@styles/variables";
@import "~@styles/libraries/syntax";

@import "~@molecules/article";

.o-main {
    width: 100%;
    min-height: 66%;
    max-width: 700px;
    margin: 48px auto;

    @media only screen and (max-width: 700px) {
        margin: 32px auto;
    }
}
