@import '~@styles/utilities';
@import '~@styles/variables';

.m-pagination {
  display: block;
  width: 100%;
  position: relative;

  @media only screen and (max-width: 425px) {
    padding: 0 16px;
  }

  &__container {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 60px;
  }

  &__item.--first,
  &__item.--prev {
    text-align: left;
  }

  &__item.--last,
  &__item.--next {
    text-align: right;
  }

  &__item.--prev.--disable,
  &__item.--next.--disable {
    cursor: default;
  }

  &__item.--prev.--disable .a-arrow,
  &__item.--next.--disable .a-arrow {
    color: $more;
  }

  &__item {
    display: inline-block;
    width: 15%;
    cursor: pointer;
  }

  &__navigator {
    width: 40%;
    text-align: center;
    display: inline-block;

    select {
      @include p();

      padding: 2px;
      margin-right: 5px;
    }
  }
}
