doctype html
html(lang="en")
  head
    include /atoms/head/index
    <%= htmlWebpackPlugin.files.css.map((css) => `link(href=\'${css}\', rel='stylesheet')`).join('\n      ') %>
  body
    div(data-router-wrapper)
      include ./layout

    //- Inject assets. 4 spaces is necessary, so that `HtmlWebpackPugPlugin` can translate this snippet to proper pug syntax.
    <%= htmlWebpackPlugin.files.js.map((js) => `script(src=\'${js}\', type='text/javascript', async)`).join('\n      ') %>
