@import "~@styles/variables";
@import "~@styles/utilities";

.m-share {
  display: block;
  margin-top: 60px;

  &__desc {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0;
    margin-bottom: calcFontSize(700) * 0.8 + px;
    padding: 0 20px;

    @include p(700);

    @media only screen and (max-width: 768px) {
      padding: 0 16px;

      @include p(600);
    }
  }

  &__wrapper {
    display: block;
    background: $background;
    padding: 0px;

    @media only screen and (max-width: 768px) {
      padding: 0px;
    }
  }

  &__item {
    display: inline-block;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    padding: 10px 20px;

    @media only screen and (max-width: 425px) {
      padding: 10px 16px;
    }
  }
}