// These are styling for non-semantic element that breaks design system such as hacks, clearfix, etc.
// Or any styling from third party libraries that needs to be overriden. These are mostly CSS cosmetic surgery.
// Cosmetic surgery is not natural and considered bad practice, but Lee Min-Ho needs it.
