@font-face {
    font-family: 'icomoon-tags';
    src: url('~@fonts/icomoon-tags.eot?k1c4xv');
    src: url('~@fonts/icomoon-tags.eot?k1c4xv#iefix') format('embedded-opentype'),
         url('~@fonts/icomoon-tags.woff2?k1c4xv') format('woff2'),
         url('~@fonts/icomoon-tags.ttf?k1c4xv') format('truetype'),
         url('~@fonts/icomoon-tags.woff?k1c4xv') format('woff'),
         url('~@fonts/icomoon-tags.svg?k1c4xv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-tags' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-story:before {
    content: "\e907";
}
.icon-art:before {
    content: "\e90d";
}
.icon-slant:before {
    content: "\e916";
}
.icon-all:before {
    content: "\e982";
}
.icon-analysis:before {
    content: "\e99b";
}
.icon-love:before {
    content: "\e9da";
}
.icon-math:before {
    content: "\ea67";
}
.icon-web:before {
    content: "\ea80";
}
.icon-ops:before {
    content: "\ea81";
}