@import "~@styles/variables";

.m-comment {
  padding: 0 20px;
  margin-top: 60px;
  border-top: 1px solid $menu;
  background: $background;

  @media only screen and (max-width: 768px) {
    padding: 16px;
  }

  &__loading {
    text-align: center;
    display: block;
    margin: 20px auto;
  }
}
