// Remarkbox - Your readers want to communicate with you
mixin comment
  div(id="remarkbox-div", class="m-comment")
    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/loading.gif", alt="loading", class="m-comment__loading lozad", width="50px", height="50px")
    noscript
     iframe#remarkbox-iframe(src='https://my.remarkbox.com/embed?nojs=true' style='height:600px;width:100%;border:none!important' tabindex='0')

    
