// Remarkbox - Your readers want to communicate with you
mixin comment
  div(id="remarkbox-div", class="m-comment")
    noscript
     iframe#remarkbox-iframe(src='https://my.remarkbox.com/embed?nojs=true' style='height:600px;width:100%;border:none!important' tabindex='0')

    
