//- Usage:
//-     include /molecules/footer/index
//-
//- Result:
//-     <footer class="m-footer>
//-         <p class="m-footer__content">
//-             Made with 💓 by Muhammad D. R
//-         </p>
//-     </footer>
footer(class="m-footer")
  p(class="m-footer__content") Made with 💓 by Muhammad D. R
