include /molecules/menu/index
include /molecules/masthead/index
include /molecules/card/index

mixin posts
  main(class="o-posts", role="main")
    +masthead()
    +menu(articles.tags)
    div(class="o-posts__cards")
      - const currentTag = articles.tags.find(tag => tag.name === list.tagName);
      - const description = currentTag.description;
      - const tagWording = currentTag.wording; 
      if (list.tagName !== 'all')
        p(class="o-posts__description")
          strong !{tagWording + ': '} 
          span !{description}
      if list && list.pageData
        each item in list.pageData
          +card(item, list.tagName)


    
