@import "~@styles/variables";
@import "~@styles/utilities";
@import "~@styles/libraries/icomoon_tags";
@import "~@molecules/article";


.m-card {
  border: 1px solid $menu;
  border-radius: 8px;
  cursor: pointer;

  a {
    color: inherit;
    padding: 20px 20px 0 20px;
    display: block;
    text-decoration: none;
  }

  &__header {
    width: 100%;
    h2 {
      @include h4(700);

      display: inline-block;
      width: 75%;
      line-height: 1.2;
    }

    time {
      display: inline-block;
      width: 25%;
      text-align: right;
      color: $caption;
      font-size: calcFontSize(700) * 0.87 + px;
      line-height: 1.25;
    }

    @media only screen and (max-width: 425px) {
      h2,
      time {
        width: 100%;
        display: block;
        text-align: left;
      }

      h2 {
        margin-bottom: calcFontSize(600) * 0.3 + px;
      }

      time {
        margin-bottom: calcFontSize(600) * 0.4 + px;
      }
    }
  }

  &__tagList {
    margin: 20px;

    span {
      display: inline-block;
      border-radius: 4px;
      padding: 8px;
      background-color: $menu;
    }

    a:hover {
      background-color: $input;
    }

    a {
      display: inline;
      padding: unset;
      z-index: 1;
      width: 32px;
      height: 32px;
      border-radius: 4px;
    }

    a + a {
      margin-left: 8px;
    }
  }
}