doctype html
html(lang="en")
  head
    include /atoms/head/index

    //- See src/config/webpack.common.js. We inject parameters there.

    
    link(href='/styles-docs.css?00ad960adcda81a24836', rel='stylesheet')
  body
      include ./layout

      //- Inject assets. 6 spaces is necessary, so that `HtmlWebpackPugPlugin` can translate this snippet to proper pug syntax.
      script(src='/scripts-docs-caec0f5204e33c759b65.js?00ad960adcda81a24836', type='text/javascript', async)
