$space-values: (0, 2, 3, 4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 30, 32, 35, 40, 45, 48, 50, 56, 60, 64, 72) !default;
$attribute-name: (
    p: padding,
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
    m: margin,
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left
) !default;

@mixin generate-gap-and-gutter() {
    @each $alias, $detail in $attribute-name {
        @each $value in $space-values {
            .#{$alias}-#{$value} {
                #{$detail}: #{$value}px;
            }
        }

        .no-#{$alias} {
            #{$detail}: 0;
        }
    }
}

@include generate-gap-and-gutter();
