mixin skeleton-article 
  div(class="m-skeletonArticle")
    div(class="m-skeletonArticle__bar")
    div(class="m-skeletonArticle__bar")
    div(class="m-skeletonArticle__bar")
    div(class="m-skeletonArticle__bar")
    div(class="m-skeletonArticle__bar m-skeletonArticle__bar--w80")

