mixin skeleton-article 
  - const iteration = Array.from(new Array(5));
  each item in iteration
    div(class="m-skeletonArticle")
      div(class="m-skeletonArticle__bar")
      div(class="m-skeletonArticle__bar")
      div(class="m-skeletonArticle__bar")
      div(class="m-skeletonArticle__bar")
      div(class="m-skeletonArticle__bar m-skeletonArticle__bar--w80")

