@import "~@styles/utilities";
@import "~@styles/universe";
@import "~@styles/variables";
@import "~@styles/libraries/syntax";

@import "~@molecules/article";
@import "~@molecules/skeleton/article";
@import "~@molecules/iterator";
@import "~@molecules/comment";
@import "~@molecules/share";

.o-main {
    width: 100%;
    min-height: 66%;
    max-width: 700px;
    margin: 48px auto;
    padding-bottom: 90px;
    padding-top: 60px;

    @media only screen and (max-width: 768px) {
        padding-top: 100px;
        margin: 32px auto;
    }
}
