include /molecules/article/index
include /molecules/skeleton/article/index
include /molecules/iterator/index

mixin main(data)
  main(class="o-main", role="main")
    +skeleton-article()
    +article()
    if data && data.prev && data.next
      +iterator(data)
