@import '~@styles/variables';

@import '~@molecules/navigation';

.o-header {
    height: auto;
    border-bottom: 1px solid $menu;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    /*
    margin-bottom: 60px;
    */

    /*
    @media only screen and (max-width: 1000px) {
        height: 132px;
    }
    */
}
