doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=`${description}`)
    script(src='https://www.google-analytics.com/analytics.js', type='text/javascript', async)
  body
      include ./layout

      //- Inject assets. 6 spaces is necessary, so that `HtmlWebpackPugPlugin` can translate this snippet to proper pug syntax.
      link(href='/assets/styles/404/404.css?971fb539eff47b490653', rel='stylesheet')
      script(src='/assets/scripts/404/404.js?971fb539eff47b490653', type='text/javascript', async)
