include /organisms/header/index
include /organisms/posts/index
include /molecules/footer/index

div(data-router-view="home", class="t-home")
  +header([
    { href: list.href, wording: 'Articles' },
    { href: '/about/', wording: 'About' }
  ])
  +posts()
  +footer()