include /molecules/article/index
include /molecules/skeleton/article/index
include /molecules/iterator/index
include /molecules/share/index

mixin leaflet(data)
  main(class="o-leaflet", role="main")
    +skeleton-article()
    +article()
    if data && data.prev && data.next
      +share(data)
      +iterator(data)

