mixin masthead
  div(class="m-masthead")
    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/images/cropped-miayam-192x192.png", alt="logo", class="m-masthead__logo lozad", width="130px", height="130px")
    h1(class="m-masthead__wording") 知らぬが仏
      