@import "~@styles/utilities";
@import "~@styles/variables";

@import "~@atoms/more";

.m-menu {
  $self: &;
  margin-bottom: 20px;
  border-bottom: 1px solid $menu;
  background-color: $background;
  white-space: nowrap;
  display: inline-block;
  position:relative;
  white-space: nowrap;
  width: 100%;
  height: 46px;

  &__tabs,
  &__hiddenTabs {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &__tabs {
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -17px;
  }

  &__hiddenTabs {
    position: absolute;
    right: 0;
    margin-right: 0;
    background: $background;
    color: $text;
    border: 1px solid $menu;
    height: auto;
    display: none;
    min-width: 150px;
    top: 45px;

    #{$self}__label {
      text-align: left;
      pointer-events: none;
    }

    #{$self}__tab {
      margin-top: 1px; // Adjustment
      padding-left: 16px;
      display: block;

      span {
        color: $text;
      }
    }
  }

  &__tab,
  &__moreTab {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 45px;

    span {
      padding-right: 5px;
      font-size: calcFontSize(700) * 0.85 + px;
    }
  }

  &__tab {
    min-width: 15%;
    cursor: pointer;
  }

  &__moreTab {
    width: 10%;
    background-color: $background;
    cursor: pointer;
    display: none;
  }

  &__label,
  &__moreLabel {
    font-size: calcFontSize(700) * 0.95 + px;
    pointer-events: none;
    text-align: center;
    display: inline-block;
    padding-top: 8px;
    height: 45px;
    width: 100%;
  }

  &__label {
    min-width: 80px;
  }

  &__moreLabel {
    pointer-events: none;
  }

  &__arrowBox {
    position: absolute;
    background: $background;
    right: 21px;

    &::after, &::before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(87, 87, 87, 0);
      border-bottom-color: $menu;
      border-width: 10px;
      margin-left: -10px;
    }

    &::after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 8px;
      margin-left: -8px;
    }

  }


}