@import "~@styles/utilities";
@import "~@styles/variables";

@import "~@atoms/more";

.m-menu {
  margin-bottom: 20px;
  height: 45px;
  border-bottom: 1px solid $menu;
  background-color: $background;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  &__tabs,
  &__hiddenTabs {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &__tabs {
    display: inline-block;
    width: 87%;
    white-space: nowrap;
  }

  &__hiddenTabs {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: 0;

    li {
      margin-top: 1px; // Adjustment
    }
  }

  &__tab,
  &__moreTab {
    position: relative;
    display: inline-block;
    margin: 0 auto;

    &:first-child a {
      border-bottom: 1px solid $text;
    }

    span {
      padding-right: 4px;
      font-size: calcFontSize(700) * 0.9;
    }
  }

  &__tab {
    min-width: 80px;
  }

  &__moreTab {
    width: 13%;
    max-width: 13%;
    background: $background;
  }

  &__label,
  &__moreLabel {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 45px;
  }

  &__label {
    min-width: 80px;
  }

  &__moreLabel {
    min-width: unset;
    padding-left: 18px;
    padding-right: 3px;
  }
}