@import "~@styles/utilities";
@import "~@styles/variables";

@import "~@atoms/more";

.m-menu {
  margin-bottom: 20px;
  height: 45px;
  border-bottom: 1px solid $menu;
  background-color: $background;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  &__tabs,
  &__hiddenTabs {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &__tabs {
    display: inline-block;
    width: 90%;
    white-space: nowrap;
  }

  &__hiddenTabs {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: 0;

    li {
      margin-top: 1px; // Adjustment
    }
  }

  &__tab,
  &__moreTab {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 45px;

    span {
      padding-right: 5px;
      font-size: calcFontSize(700) * 0.85 + px;
    }
  }

  &__tab {
    min-width: 15%;
    &:first-child a {
      border-bottom: 1px solid $text;
    }
  }

  &__moreTab {
    width: 10%;
    max-width: 10%;
  }

  &__label,
  &__moreLabel {
    font-size: calcFontSize(700) * 0.95 + px;
    text-align: center;
    display: inline-block;
    padding-top: 8px;
    height: 44px;
    width: 100%;
  }

  &__label {
    min-width: 80px;
  }
}