include /atoms/anchor/index
include /atoms/more/index

//- Usage
//-     +menu(
//-       [{ href: '/tags/story', wording: 'Story', name: 'story' }] 
//-     )
//-
//- Result:
//-     <nav role="menu" class="m-menu">
//-         <ul class="menu__tabs">
//-             <li class="m-menu__tab">
//-                 <a href="/tags/story" class="m-menu__moreLabel">
//-                     <span class="icon-story"></span>
//-                     Story
//-                 </a>
//-             </li>
//-         </ul>
//-         <div class="m-menu__moreTab">
//-            <a href="#" class="m-menu__moreLabel">
//-                 <div role="button" class="a-more m-menu__moreIcon">
//-                     <span></span>
//-                     <span></span>
//-                     <span></span>
//-                 </div>
//-             </a>
//-             <ul class="m-menu__hiddenTabs"></ul>
//-         </div>
//-     </nav>
mixin menu(tabs)
  nav(class="m-menu", role="menu")
    ul(class="m-menu__tabs")
      each tab in tabs
        li(class="m-menu__tab", role="menuitem") 
          +anchor(href=tab.href, class="m-menu__label js-m-menu__label", data-tag=`${tab.name}`)
            span(class=`icon-${tab.name}`, role="button")
            | #{tab.wording}
    div(class="m-menu__moreTab", data-width="45", role="menu")
      +anchor(href="#", class="m-menu__moreLabel", role="menuitem")
        +more(class="m-menu__moreIcon", role="button")
    ul(class="m-menu__hiddenTabs")
