---
layout: "blog/index.pug"
pagination:
  data: articles.list
  size: 1
  alias: article
permalink: | 
  | articles/#{ article.slug }/index.html
---
div(class="m-article__header")
  h1 !{article.title}
  date 20 May 2021
div !{article.content}