---
layout: "home/index.pug"
pagination:
  data: articles.home
  size: 1
  alias: list
permalink: |
  | #{"/"}
eleventyComputed:
  pagination: list.pagination
  title: |
    | #{"Miayam.io | The excitement of not knowing"}
---