---
<<<<<<< HEAD:src/pages/home.pug
layout: "home/index.pug"
permalink: "/"
=======
layout: "docs/index.pug"
permalink: "/norwegian"
>>>>>>> feat(example): Redirect docs.md to / so Netlify can serve it.:src/statics/norwegian.pug
dynamicPermalink: false
title: "Norwegian French"
---
p !{title}