---
pagination:
  data: articles.tags
  size: 1
  alias: tag
permalink: /tags/{{ tag.tagName }}/{% if tag.pageNumber %}{{ tag.pageNumber + 1 }}/{% endif %}index.json
---
{
    "posts": [
        {% for item in tag.pageData %}
            {
                "url": "{{ item.url }}",
                "content": "{{ item.content | safe | stripHtml }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
