//- Usage:
//-     +search()
//-
//- Result:
//-     <form class="m-search" id="js-m-search">
//-         <label class="m-search__label">Search miayam.io</label>
//-         <input class="m-search__input" id="js-m-search__input" type="text" placeholder="Your interesting keywords here..." />
//-         <span class="m-search__close">X</span>
//-     </div>
mixin search
  form(class="m-search", id="js-m-search") 
    label(class="m-search__label")
      | Search miayam.io
    input(class="m-search__input", id="js-m-search__input", type="text", placeholder="Your interesting keywords here...")
    span(class="m-search__close")
