mixin search
  form(class="m-search") 
    label(class="m-search__label")
      | Search miayam.io
    input(class="m-search__input", type="text", placeholder="Your interesting keywords here...")
    span(class="m-search__close")
