doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content=`${description}`)
    body
      block content
      script(src="assets/styles/styles-58d52054d68d85748a69.js")
      script(src="assets/blog/blog-d015ffd3d7a0f7a507b7.js")
    link(href="assets/assets/styles/styles.css" rel="stylesheet")