doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=`${description}`)
    body
      block content

      link(href='/assets/styles/styles.css', rel='stylesheet')
      script(src='/assets/styles/styles-1b95e020b25b43c52104.js', type='text/javascript', async)
      script(src='/assets/blog/blog-af2bf6313d8314d8b69f.js', type='text/javascript', async)
