doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=`${description}`)
    body
      block content

      link(href='/assets/styles/styles.css', rel='stylesheet')
      script(src='/assets/styles/styles-58d52054d68d85748a69.js', type='text/javascript', async)
      script(src='/assets/blog/blog-17f6084dd24675c4b46f.js', type='text/javascript', async)
