include /organisms/header/index

+header([
  { href: prev && prev.js && prev.js.url, wording: 'coba' },
  { href: prev && prev.scss && prev.scss.url, wording: 'cobi' }
])
main(role="main")
  article !{content}
