include /organisms/header/index

+header([
  { href: prev.js ? prev.js.url : '', wording: 'coba' },
  { href: prev.scss ? prev.scss.url : '', wording: 'cobi' }
])
main(role="main", class="o-main")
  article !{content}
