include /organisms/header/index

+header([
  { href: '/', wording: 'Articles'},
  { href: '/projects', wording: 'Projects'},
  { href: '/about', wording: 'About'}
])
main(role="main")
  article !{content}
