//- Usage:
//-     +copyright()
//-
//- Result:
//-     <div class="a-copyright>
//-         <p class="a-copyright__content">
//-             Made with ❤️ by Muhammad D. R
//-         </p>
//-     </div>
mixin copyright()
  div(class="a-copyright")
    p(class="a-copyright__content") Made with ❤️ by Muhammad D. R.
