// Color pallete
$color-alpha: #FFFFFF;
$color-beta: #111b27;
$color-gama: #324F73;
$color-psi: #2F4F4F;
$color-epsilon: #EBEBEB;


// Descriptive naming
$background: $color-alpha;
$text: $color-beta;
$link: $color-gama;
$code: $color-epsilon;
$mark: $color-psi;
$highlight-code: $color-epsilon;
$pre: $color-beta;
