// Color pallete
$alpha: #FFFFFF;
$beta: #1b1b1b;
$gama: #324F73;
$psi: #2F4F4F;
$epsilon: #EBEBEB;
$zeta: rgba(0, 0, 0, 0.12);
$eta: #a2a9b1;
$teta: #111b27;
$iota: #595959;


// Descriptive naming
$background: $alpha;
$text: $beta;
$link: $gama;
$code: $alpha;
$mark: $psi;
$highlight-code: $epsilon;
$pre: $teta;
$menu: $zeta;
$input: $eta;
$caption: $iota;
