doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=`${description}`)
  body
      block content

      link(href='/assets/styles/styles.css?cc8f14ded1472aca3622', rel='stylesheet')
      script(src='/assets/scripts/styles-659f1a5daed4c7aa6f24.js?cc8f14ded1472aca3622', type='text/javascript', async)
      script(src='/assets/scripts/home-7daffa7801c06817d957.js?cc8f14ded1472aca3622', type='text/javascript', async)
