script(src='https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js', type='text/javascript', async)
script(src='https://unpkg.com/react@17/umd/react.production.min.js', type='text/javascript', async)
script(src='https://unpkg.com/react-dom@17/umd/react-dom.production.min.js', type='text/javascript', async)