script(src='https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js', type='text/javascript', async)
script(src='https://unpkg.com/react@15/dist/react.min.js', type='text/javascript', async)
script(src='https://unpkg.com/react-dom@15/dist/react-dom.min.js', type='text/javascript', async)