@import "~@organisms/header";
@import "~@organisms/leaflet";
@import "~@molecules/footer";
@import "~@styles/variables";

.t-about {
  background: $background;

  .m-article h1 {
    line-height: 1.5;
    padding: 16px 0;
  }
}
