include /organisms/header/index
include /organisms/main/index
include /molecules/footer/index

div(data-router-view="about", class="t-about")
  +header([
    { href: '/', wording: 'Articles' },
    { href: href, wording: 'About' },
  ])
  +main()
  +footer()