@import "~@styles/variables";
@import "~@styles/utilities";

.m-article {
  padding: 0 16px;

  h1 {
    @include h2(700);
  }

  h2 {
    @include h3(700);
  }

  figure {
    margin: calcFontSize(700) + px 0;
  }

  figcaption,
  time {
    color: $caption;
    font-size: calcFontSize(700) * 0.87 + px;
    line-height: 1.25;
  }

  hr {
    margin: 0;
    border: unset;
    border-top: 1px solid $menu;
    margin-bottom: calcFontSize(700) + px;
  }

  blockquote {
    margin: 20px 0;
    padding-left: 16px;
    border-left: 3px solid $text;
  }

  a {
    color: $link;
  }

  &__header {
    border-bottom: 1px solid $menu;
    h1 {
      display: inline-block;
      width: 87%;
      line-height: 1.2;
      margin-bottom: calcFontSize(700) + px;
    }
    time {
      display: inline-block;
      width: 13%;
      text-align: right;
    }

    @media only screen and (max-width: 768px) {
      h1,
      time {
        width: 100%;
        display: block;
        text-align: left;
      }

      time {
        margin-bottom: calcFontSize(700) + px;
      }
    }
  }
}