//- Usage:
//-     +navigation(class="m-navigation--active", data-id="1")
//-       span I love you
//-       span I hate you
//-
//- Result:
//-     <nav class="m-navigation m-navigation--active" data-id="1">
//-         <span>
//-             I love you
//-         </span>
//-         <span>
//-             I hate you
//-         </span>
//-     </nav>
mixin navigation()
  nav(class=`m-navigation ${attributes.class || ''}`)&attributes(attributes)
    block
