include /atoms/anchor/index

//- Usage:
//-     +navigation(
//-       [{ href: '/', wording: 'Home'}] 
//-     )(class="m-navigation--active", data-id="1")
//-
//- Result:
//-     <nav class="m-navigation m-navigation--active" data-id="1">
//-         <ul>
//-             <li>
//-                 <a href="/">Home</a>
//-             </li>
//-         </ul>
//-     </nav>
mixin navigation(links)
  nav(class="m-navigation", role="navigation")&attributes(attributes)
    ul(class="m-navigation__list")
      each link in links
        li 
          +anchor(href=link.href, class="m-navigation__link")
            | #{link.wording}

