doctype html
html(lang="en")
  head
    include /atoms/head/index

    //- See src/config/webpack.common.js. We inject parameters there.

    
    //- Shamelessly track users. Uncomment it if you are ready to abuse your readers :(
    script(src='https://www.google-analytics.com/analytics.js', type='text/javascript', async)
    
    
  body
      include ./layout

      //- Inject assets. 6 spaces is necessary, so that `HtmlWebpackPugPlugin` can translate this snippet to proper pug syntax.

