@import '~@styles/variables';
@import '~@styles/utilities';

.m-search {
    max-width: 420px;
    height: 60px;
    padding: 10px 0;
    margin: 0 auto;
    position: relative;
    margin-top: -60px;

    @media only screen and (max-width: 768px) {
        margin-top: 0;
        padding: 16px;
    }

    &__label {
        display: block;
        position: absolute;
        clip: rect(1px,1px,1px,1px);
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
    }

    &__searchIcon {
        position: absolute;
        left: 12px;
        top: 22px;

        @media only screen and (max-width: 768px) {
            top: 45%;
            margin-left: 15px;
        }
    }

    &__close {
        position: absolute;
        font-size: 30px;
        cursor: pointer;
        z-index: 2;
        color: $background;
        top: 50%;
        right: 8px;
        transform: translateY(-60%);

        @media only screen and (max-width: 768px) {
            top: 60%;
            right: 24px;
        }
    }

    &__close::after {
        display: inline-block;
        content: "\00d7"; /* This will render the 'X' */
    }

    &__input:focus::placeholder {
        color: transparent;
    }

    &__input:-moz-focusring {
        outline: 1px solid $text;
    }

    &__input:focus {
        border: 1px solid $text;
    }

    &__input {
        -webkit-appearance: none;
        width: 100%;
        height: 40px;
        line-height: 1.6;
        transition: background .1s ease, border-color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease,-moz-box-shadow .1s ease;
        background-color: white;
        display: inline-block;
        border: 1px solid $menu;
        border-radius: 2px;
        padding: .8rem;
        padding-left: 36px;
        box-shadow: inset 0 0 0 1px white;
        vertical-align: middle;
    }

    &__results {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 61px;
        width: 420px;
        max-width: 100%;
        margin: 0 auto;
        z-index: 2;
        border-left: 1px solid $menu;
        border-right: 1px solid $menu;
        background: $background;
        display: none;

        @media only screen and (max-width: 768px) {
            top: 132px;
        }
    }

    &__resultItems {
        list-style-type: none;
        max-height: 500px;
        margin: 0;
        padding: 0;
        text-align: left;
        overflow: auto;
        border-bottom: 1px solid $menu;

        @media only screen and (max-width: 768px) {
            max-height: 400px;
        }

        &::-webkit-scrollbar {
            width: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: $menu; 
        }
 
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $text; 
        }
    }

    &__resultItem {
        border-bottom: 1px solid $menu;
        max-height: 200px;
        height: auto;
        padding: 16px;

        a {
            display: inline-block;
            text-decoration: none;
            color: $text;
        }
    }

    &__resultItemContent {
        width: 100%;
        font-size: calcFontSize(450) * 1.1 + px;
        line-height: 1.2;
        margin: 0;
    }

    &__resultItemHeader {
        display: inline-block;
        width: 100%;

        h2 {
            display: inline-block;
            font-size: calcFontSize(450) * 1.2 + px;
            line-height: 1.2;
            padding-bottom: calcFontSize(450) * 1 + px;
            font-weight: bolder;
        }
    }
}