//- Usage:
//-     +search()
//-
//- Result:
//-     <form class="m-search" id="js-m-search">
//-         <label class="m-search__label">Search miayam.io</label>
//-         <span class="m-search__searchIcon">
//-             <svg class="mercado-match" data-supported-dps="16x16" fill="currentColor" focusable="false" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M14.56 12.44L11.3 9.18a5.51 5.51 0 10-2.12 2.12l3.26 3.26a1.5 1.5 0 102.12-2.12zM3 6.5A3.5 3.5 0 116.5 10 3.5 3.5 0 013 6.5z"></path></svg>
//-         </span>
//-         <input class="m-search__input" id="js-m-search__input" type="text" placeholder="Your interesting keywords here..." autocomplete="off" />
//-         <span role="button" class="m-search__close">X</span>
//-     </div>
mixin search
  form(class="m-search", id="js-m-search") 
    label(class="m-search__label")
      | Search miayam.io
    span(class="m-search__searchIcon")
      svg.mercado-match(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16' data-supported-dps='16x16' fill='currentColor' width='16' height='16' focusable='false')
        path(d='M14.56 12.44L11.3 9.18a5.51 5.51 0 10-2.12 2.12l3.26 3.26a1.5 1.5 0 102.12-2.12zM3 6.5A3.5 3.5 0 116.5 10 3.5 3.5 0 013 6.5z')
    input(class="m-search__input", id="js-m-search__input", type="text", placeholder="Your interesting keywords here...", autocomplete="off")
    span(class="m-search__close", role="button", aria-label="close", tabindex="0", aria-pressed="false")
  div(class="m-search__results")
    ul(class="m-search__resultItems")
      li(class="m-search__resultItem")
        p(class="m-search__resultItemHeader")
          | Enter keyword
        p(class="m-search__resultItemContent")
          | No result...