@import "~@atoms/anchor";
@import "~@atoms/arrow";

.m-navigation {
    margin: 0 auto;
    max-width: 1024px;
    height: 60px;

    &__list {
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__linkWrapper,
    &__backWrapper {
        display: inline-block;
        height: 100%;
    }

    &__link,
    &__back {
        vertical-align: middle;
        display: table-cell;
        height: 60px;
        text-align: center;
        padding: 3px 12px;
    }

    &__link {
        width: 100px;
    }

    &__back {
        width: 118px;
    }
}
