include /atoms/anchor/index

//- Usage:
//-     +navigation(
//-       [{ href: '/', wording: 'Home'}] 
//-     )(class="m-navigation--active", data-id="1")
//-
//- Result:
//-     <nav class="m-navigation m-navigation--active" data-id="1">
//-         <ul>
//-             <li>
//-                 <a href="/">Home</a>
//-             </li>
//-         </ul>
//-     </nav>
mixin navigation(links)
  nav(class="m-navigation", role="navigation")&attributes(attributes)
    ul(class="m-navigation__list")
      each link in links
        - var styledLink = link.href === '#' ? 'm-navigation__back' : 'm-navigation__link';
        li(class=`${styledLink}Wrapper`) 
          +anchor(href=link.href, class=`${styledLink} js-a-anchor`)
            if link.href === '#'
              span.m-navigation__chevron
            | #{link.wording}

